button.checkout-food{
    text-transform: capitalize;
    background: #999999a6;
    color: white;
    font-weight: 700;
    transition: .4s;
    margin: 10px 0;
}

.checkout-food:hover{
    background-color: #ff4343;
    color: #fff;
}