.singleFood {
    margin: 20px 10px;
    padding: 16px;
    border-radius: 5px;
    transition: .6s;
}

.singleFood:hover{
    box-shadow: 0px 0px 8px 0px #999;
    cursor: pointer;
}

.foodImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.foodImg img {
    width: 100%;
}

.foodInfo {
    text-align: center;
}

.foodInfo span {
    font-size: 14px;
    display: block;
}

.foodInfo h4 {
    text-transform: capitalize;
    font-size: 14px;
}

.foodInfo b {
    font-size: 26px;
}